<div class="dl-horizontal">
        <dt>
            Department name 
        </dt>
        <dd>
            SE
        </dd>
        <dt>
            Dept number
        </dt>
        <dd>
            1
        </dd>
</div>